/*
Credoxa Events API

Enterprise multi-tenant event infrastructure for Credoxa Cloud.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package credoxaevents

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type TenantAnalyticsAPI interface {

	/*
		TenantAnalyticsProjectionDetail Retrieve a tenant analytics projection

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param projectionId
		@return ApiTenantAnalyticsProjectionDetailRequest
	*/
	TenantAnalyticsProjectionDetail(ctx context.Context, projectionId string) ApiTenantAnalyticsProjectionDetailRequest

	// TenantAnalyticsProjectionDetailExecute executes the request
	//  @return AnalyticsQueryAPIResponse
	TenantAnalyticsProjectionDetailExecute(r ApiTenantAnalyticsProjectionDetailRequest) (*AnalyticsQueryAPIResponse, *http.Response, error)

	/*
		TenantAnalyticsProjectionList List tenant analytics projections

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiTenantAnalyticsProjectionListRequest
	*/
	TenantAnalyticsProjectionList(ctx context.Context) ApiTenantAnalyticsProjectionListRequest

	// TenantAnalyticsProjectionListExecute executes the request
	//  @return AnalyticsQueryAPIResponse
	TenantAnalyticsProjectionListExecute(r ApiTenantAnalyticsProjectionListRequest) (*AnalyticsQueryAPIResponse, *http.Response, error)

	/*
		TenantAnalyticsProjectionReadiness Inspect tenant projection readiness

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param projectionId
		@return ApiTenantAnalyticsProjectionReadinessRequest
	*/
	TenantAnalyticsProjectionReadiness(ctx context.Context, projectionId string) ApiTenantAnalyticsProjectionReadinessRequest

	// TenantAnalyticsProjectionReadinessExecute executes the request
	//  @return AnalyticsQueryAPIResponse
	TenantAnalyticsProjectionReadinessExecute(r ApiTenantAnalyticsProjectionReadinessRequest) (*AnalyticsQueryAPIResponse, *http.Response, error)

	/*
		TenantAnalyticsQuery Execute a tenant-scoped analytics query

		Queries durable materialized analytics projections through the projection-aware cache. Supports metric selection, dimension filters, stable cursor pagination, readiness validation, stale reads, and cache bypass.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiTenantAnalyticsQueryRequest
	*/
	TenantAnalyticsQuery(ctx context.Context) ApiTenantAnalyticsQueryRequest

	// TenantAnalyticsQueryExecute executes the request
	//  @return AnalyticsQueryAPIResponse
	TenantAnalyticsQueryExecute(r ApiTenantAnalyticsQueryRequest) (*AnalyticsQueryAPIResponse, *http.Response, error)
}

// TenantAnalyticsAPIService TenantAnalyticsAPI service
type TenantAnalyticsAPIService service

type ApiTenantAnalyticsProjectionDetailRequest struct {
	ctx          context.Context
	ApiService   TenantAnalyticsAPI
	projectionId string
}

func (r ApiTenantAnalyticsProjectionDetailRequest) Execute() (*AnalyticsQueryAPIResponse, *http.Response, error) {
	return r.ApiService.TenantAnalyticsProjectionDetailExecute(r)
}

/*
TenantAnalyticsProjectionDetail Retrieve a tenant analytics projection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectionId
	@return ApiTenantAnalyticsProjectionDetailRequest
*/
func (a *TenantAnalyticsAPIService) TenantAnalyticsProjectionDetail(ctx context.Context, projectionId string) ApiTenantAnalyticsProjectionDetailRequest {
	return ApiTenantAnalyticsProjectionDetailRequest{
		ApiService:   a,
		ctx:          ctx,
		projectionId: projectionId,
	}
}

// Execute executes the request
//
//	@return AnalyticsQueryAPIResponse
func (a *TenantAnalyticsAPIService) TenantAnalyticsProjectionDetailExecute(r ApiTenantAnalyticsProjectionDetailRequest) (*AnalyticsQueryAPIResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsQueryAPIResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TenantAnalyticsAPIService.TenantAnalyticsProjectionDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/operator/saas/analytics/projections/{projection_id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"projection_id"+"}", strings.ReplaceAll(strings.ReplaceAll(strings.ReplaceAll(strings.ReplaceAll(strings.ReplaceAll(strings.ReplaceAll(url.PathEscape(parameterValueToString(r.projectionId, "projectionId")), ":", "%3A"), "@", "%40"), "$", "%24"), "&", "%26"), "+", "%2B"), "=", "%3D"), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTenantAnalyticsProjectionListRequest struct {
	ctx        context.Context
	ApiService TenantAnalyticsAPI
	limit      *int32
	name       *string
	status     *string
}

func (r ApiTenantAnalyticsProjectionListRequest) Limit(limit int32) ApiTenantAnalyticsProjectionListRequest {
	r.limit = &limit
	return r
}

func (r ApiTenantAnalyticsProjectionListRequest) Name(name string) ApiTenantAnalyticsProjectionListRequest {
	r.name = &name
	return r
}

func (r ApiTenantAnalyticsProjectionListRequest) Status(status string) ApiTenantAnalyticsProjectionListRequest {
	r.status = &status
	return r
}

func (r ApiTenantAnalyticsProjectionListRequest) Execute() (*AnalyticsQueryAPIResponse, *http.Response, error) {
	return r.ApiService.TenantAnalyticsProjectionListExecute(r)
}

/*
TenantAnalyticsProjectionList List tenant analytics projections

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiTenantAnalyticsProjectionListRequest
*/
func (a *TenantAnalyticsAPIService) TenantAnalyticsProjectionList(ctx context.Context) ApiTenantAnalyticsProjectionListRequest {
	return ApiTenantAnalyticsProjectionListRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AnalyticsQueryAPIResponse
func (a *TenantAnalyticsAPIService) TenantAnalyticsProjectionListExecute(r ApiTenantAnalyticsProjectionListRequest) (*AnalyticsQueryAPIResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsQueryAPIResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TenantAnalyticsAPIService.TenantAnalyticsProjectionList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/operator/saas/analytics/projections/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTenantAnalyticsProjectionReadinessRequest struct {
	ctx                     context.Context
	ApiService              TenantAnalyticsAPI
	projectionId            string
	maximumStalenessSeconds *int32
}

// Maximum accepted age of the latest projection refresh.
func (r ApiTenantAnalyticsProjectionReadinessRequest) MaximumStalenessSeconds(maximumStalenessSeconds int32) ApiTenantAnalyticsProjectionReadinessRequest {
	r.maximumStalenessSeconds = &maximumStalenessSeconds
	return r
}

func (r ApiTenantAnalyticsProjectionReadinessRequest) Execute() (*AnalyticsQueryAPIResponse, *http.Response, error) {
	return r.ApiService.TenantAnalyticsProjectionReadinessExecute(r)
}

/*
TenantAnalyticsProjectionReadiness Inspect tenant projection readiness

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectionId
	@return ApiTenantAnalyticsProjectionReadinessRequest
*/
func (a *TenantAnalyticsAPIService) TenantAnalyticsProjectionReadiness(ctx context.Context, projectionId string) ApiTenantAnalyticsProjectionReadinessRequest {
	return ApiTenantAnalyticsProjectionReadinessRequest{
		ApiService:   a,
		ctx:          ctx,
		projectionId: projectionId,
	}
}

// Execute executes the request
//
//	@return AnalyticsQueryAPIResponse
func (a *TenantAnalyticsAPIService) TenantAnalyticsProjectionReadinessExecute(r ApiTenantAnalyticsProjectionReadinessRequest) (*AnalyticsQueryAPIResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsQueryAPIResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TenantAnalyticsAPIService.TenantAnalyticsProjectionReadiness")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/operator/saas/analytics/projections/{projection_id}/readiness/"
	localVarPath = strings.Replace(localVarPath, "{"+"projection_id"+"}", strings.ReplaceAll(strings.ReplaceAll(strings.ReplaceAll(strings.ReplaceAll(strings.ReplaceAll(strings.ReplaceAll(url.PathEscape(parameterValueToString(r.projectionId, "projectionId")), ":", "%3A"), "@", "%40"), "$", "%24"), "&", "%26"), "+", "%2B"), "=", "%3D"), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.maximumStalenessSeconds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maximum_staleness_seconds", r.maximumStalenessSeconds, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTenantAnalyticsQueryRequest struct {
	ctx                          context.Context
	ApiService                   TenantAnalyticsAPI
	analyticsQueryRequestRequest *AnalyticsQueryRequestRequest
}

func (r ApiTenantAnalyticsQueryRequest) AnalyticsQueryRequestRequest(analyticsQueryRequestRequest AnalyticsQueryRequestRequest) ApiTenantAnalyticsQueryRequest {
	r.analyticsQueryRequestRequest = &analyticsQueryRequestRequest
	return r
}

func (r ApiTenantAnalyticsQueryRequest) Execute() (*AnalyticsQueryAPIResponse, *http.Response, error) {
	return r.ApiService.TenantAnalyticsQueryExecute(r)
}

/*
TenantAnalyticsQuery Execute a tenant-scoped analytics query

Queries durable materialized analytics projections through the projection-aware cache. Supports metric selection, dimension filters, stable cursor pagination, readiness validation, stale reads, and cache bypass.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiTenantAnalyticsQueryRequest
*/
func (a *TenantAnalyticsAPIService) TenantAnalyticsQuery(ctx context.Context) ApiTenantAnalyticsQueryRequest {
	return ApiTenantAnalyticsQueryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AnalyticsQueryAPIResponse
func (a *TenantAnalyticsAPIService) TenantAnalyticsQueryExecute(r ApiTenantAnalyticsQueryRequest) (*AnalyticsQueryAPIResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AnalyticsQueryAPIResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TenantAnalyticsAPIService.TenantAnalyticsQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/operator/saas/analytics/query/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsQueryRequestRequest == nil {
		return localVarReturnValue, nil, reportError("analyticsQueryRequestRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsQueryRequestRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
