/*
Credoxa Events API

Enterprise multi-tenant event infrastructure for Credoxa Cloud.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package credoxaevents

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type OperatorAnalyticsRecoveryAPI interface {

	/*
		OperatorAnalyticsEventDeadLetters Method for OperatorAnalyticsEventDeadLetters

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiOperatorAnalyticsEventDeadLettersRequest
	*/
	OperatorAnalyticsEventDeadLetters(ctx context.Context) ApiOperatorAnalyticsEventDeadLettersRequest

	// OperatorAnalyticsEventDeadLettersExecute executes the request
	OperatorAnalyticsEventDeadLettersExecute(r ApiOperatorAnalyticsEventDeadLettersRequest) (*http.Response, error)

	/*
		OperatorAnalyticsLateArrivalRepair Dispatch a guarded late-arrival repair

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiOperatorAnalyticsLateArrivalRepairRequest
	*/
	OperatorAnalyticsLateArrivalRepair(ctx context.Context) ApiOperatorAnalyticsLateArrivalRepairRequest

	// OperatorAnalyticsLateArrivalRepairExecute executes the request
	OperatorAnalyticsLateArrivalRepairExecute(r ApiOperatorAnalyticsLateArrivalRepairRequest) (*http.Response, error)

	/*
		OperatorAnalyticsRebuildList Method for OperatorAnalyticsRebuildList

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiOperatorAnalyticsRebuildListRequest
	*/
	OperatorAnalyticsRebuildList(ctx context.Context) ApiOperatorAnalyticsRebuildListRequest

	// OperatorAnalyticsRebuildListExecute executes the request
	OperatorAnalyticsRebuildListExecute(r ApiOperatorAnalyticsRebuildListRequest) (*http.Response, error)

	/*
		OperatorAnalyticsRecoveryLeases Method for OperatorAnalyticsRecoveryLeases

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiOperatorAnalyticsRecoveryLeasesRequest
	*/
	OperatorAnalyticsRecoveryLeases(ctx context.Context) ApiOperatorAnalyticsRecoveryLeasesRequest

	// OperatorAnalyticsRecoveryLeasesExecute executes the request
	OperatorAnalyticsRecoveryLeasesExecute(r ApiOperatorAnalyticsRecoveryLeasesRequest) (*http.Response, error)

	/*
		OperatorAnalyticsRecoveryList List durable analytics recovery operations

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiOperatorAnalyticsRecoveryListRequest
	*/
	OperatorAnalyticsRecoveryList(ctx context.Context) ApiOperatorAnalyticsRecoveryListRequest

	// OperatorAnalyticsRecoveryListExecute executes the request
	OperatorAnalyticsRecoveryListExecute(r ApiOperatorAnalyticsRecoveryListRequest) (*http.Response, error)

	/*
		OperatorAnalyticsRepairAction Retry or requeue an analytics repair

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param action
		@param repairId
		@return ApiOperatorAnalyticsRepairActionRequest
	*/
	OperatorAnalyticsRepairAction(ctx context.Context, action string, repairId string) ApiOperatorAnalyticsRepairActionRequest

	// OperatorAnalyticsRepairActionExecute executes the request
	OperatorAnalyticsRepairActionExecute(r ApiOperatorAnalyticsRepairActionRequest) (*http.Response, error)

	/*
		OperatorAnalyticsRepairDeadLetters Method for OperatorAnalyticsRepairDeadLetters

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiOperatorAnalyticsRepairDeadLettersRequest
	*/
	OperatorAnalyticsRepairDeadLetters(ctx context.Context) ApiOperatorAnalyticsRepairDeadLettersRequest

	// OperatorAnalyticsRepairDeadLettersExecute executes the request
	OperatorAnalyticsRepairDeadLettersExecute(r ApiOperatorAnalyticsRepairDeadLettersRequest) (*http.Response, error)
}

// OperatorAnalyticsRecoveryAPIService OperatorAnalyticsRecoveryAPI service
type OperatorAnalyticsRecoveryAPIService service

type ApiOperatorAnalyticsEventDeadLettersRequest struct {
	ctx        context.Context
	ApiService OperatorAnalyticsRecoveryAPI
}

func (r ApiOperatorAnalyticsEventDeadLettersRequest) Execute() (*http.Response, error) {
	return r.ApiService.OperatorAnalyticsEventDeadLettersExecute(r)
}

/*
OperatorAnalyticsEventDeadLetters Method for OperatorAnalyticsEventDeadLetters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOperatorAnalyticsEventDeadLettersRequest
*/
func (a *OperatorAnalyticsRecoveryAPIService) OperatorAnalyticsEventDeadLetters(ctx context.Context) ApiOperatorAnalyticsEventDeadLettersRequest {
	return ApiOperatorAnalyticsEventDeadLettersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *OperatorAnalyticsRecoveryAPIService) OperatorAnalyticsEventDeadLettersExecute(r ApiOperatorAnalyticsEventDeadLettersRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorAnalyticsRecoveryAPIService.OperatorAnalyticsEventDeadLetters")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/operator/saas/analytics/recovery/dead-letters/events/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOperatorAnalyticsLateArrivalRepairRequest struct {
	ctx                               context.Context
	ApiService                        OperatorAnalyticsRecoveryAPI
	analyticsLateArrivalRepairRequest *AnalyticsLateArrivalRepairRequest
}

func (r ApiOperatorAnalyticsLateArrivalRepairRequest) AnalyticsLateArrivalRepairRequest(analyticsLateArrivalRepairRequest AnalyticsLateArrivalRepairRequest) ApiOperatorAnalyticsLateArrivalRepairRequest {
	r.analyticsLateArrivalRepairRequest = &analyticsLateArrivalRepairRequest
	return r
}

func (r ApiOperatorAnalyticsLateArrivalRepairRequest) Execute() (*http.Response, error) {
	return r.ApiService.OperatorAnalyticsLateArrivalRepairExecute(r)
}

/*
OperatorAnalyticsLateArrivalRepair Dispatch a guarded late-arrival repair

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOperatorAnalyticsLateArrivalRepairRequest
*/
func (a *OperatorAnalyticsRecoveryAPIService) OperatorAnalyticsLateArrivalRepair(ctx context.Context) ApiOperatorAnalyticsLateArrivalRepairRequest {
	return ApiOperatorAnalyticsLateArrivalRepairRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *OperatorAnalyticsRecoveryAPIService) OperatorAnalyticsLateArrivalRepairExecute(r ApiOperatorAnalyticsLateArrivalRepairRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorAnalyticsRecoveryAPIService.OperatorAnalyticsLateArrivalRepair")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/operator/saas/analytics/recovery/late-arrivals/repair/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsLateArrivalRepairRequest == nil {
		return nil, reportError("analyticsLateArrivalRepairRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsLateArrivalRepairRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOperatorAnalyticsRebuildListRequest struct {
	ctx            context.Context
	ApiService     OperatorAnalyticsRecoveryAPI
	organizationId *string
	projectionId   *string
	status         *string
}

func (r ApiOperatorAnalyticsRebuildListRequest) OrganizationId(organizationId string) ApiOperatorAnalyticsRebuildListRequest {
	r.organizationId = &organizationId
	return r
}

func (r ApiOperatorAnalyticsRebuildListRequest) ProjectionId(projectionId string) ApiOperatorAnalyticsRebuildListRequest {
	r.projectionId = &projectionId
	return r
}

func (r ApiOperatorAnalyticsRebuildListRequest) Status(status string) ApiOperatorAnalyticsRebuildListRequest {
	r.status = &status
	return r
}

func (r ApiOperatorAnalyticsRebuildListRequest) Execute() (*http.Response, error) {
	return r.ApiService.OperatorAnalyticsRebuildListExecute(r)
}

/*
OperatorAnalyticsRebuildList Method for OperatorAnalyticsRebuildList

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOperatorAnalyticsRebuildListRequest
*/
func (a *OperatorAnalyticsRecoveryAPIService) OperatorAnalyticsRebuildList(ctx context.Context) ApiOperatorAnalyticsRebuildListRequest {
	return ApiOperatorAnalyticsRebuildListRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *OperatorAnalyticsRecoveryAPIService) OperatorAnalyticsRebuildListExecute(r ApiOperatorAnalyticsRebuildListRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorAnalyticsRecoveryAPIService.OperatorAnalyticsRebuildList")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/operator/saas/analytics/recovery/rebuilds/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.organizationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId, "form", "")
	}
	if r.projectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projection_id", r.projectionId, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOperatorAnalyticsRecoveryLeasesRequest struct {
	ctx            context.Context
	ApiService     OperatorAnalyticsRecoveryAPI
	organizationId *string
	status         *string
}

func (r ApiOperatorAnalyticsRecoveryLeasesRequest) OrganizationId(organizationId string) ApiOperatorAnalyticsRecoveryLeasesRequest {
	r.organizationId = &organizationId
	return r
}

func (r ApiOperatorAnalyticsRecoveryLeasesRequest) Status(status string) ApiOperatorAnalyticsRecoveryLeasesRequest {
	r.status = &status
	return r
}

func (r ApiOperatorAnalyticsRecoveryLeasesRequest) Execute() (*http.Response, error) {
	return r.ApiService.OperatorAnalyticsRecoveryLeasesExecute(r)
}

/*
OperatorAnalyticsRecoveryLeases Method for OperatorAnalyticsRecoveryLeases

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOperatorAnalyticsRecoveryLeasesRequest
*/
func (a *OperatorAnalyticsRecoveryAPIService) OperatorAnalyticsRecoveryLeases(ctx context.Context) ApiOperatorAnalyticsRecoveryLeasesRequest {
	return ApiOperatorAnalyticsRecoveryLeasesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *OperatorAnalyticsRecoveryAPIService) OperatorAnalyticsRecoveryLeasesExecute(r ApiOperatorAnalyticsRecoveryLeasesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorAnalyticsRecoveryAPIService.OperatorAnalyticsRecoveryLeases")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/operator/saas/analytics/recovery/leases/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.organizationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOperatorAnalyticsRecoveryListRequest struct {
	ctx            context.Context
	ApiService     OperatorAnalyticsRecoveryAPI
	organizationId *string
	projectionId   *string
	status         *string
}

func (r ApiOperatorAnalyticsRecoveryListRequest) OrganizationId(organizationId string) ApiOperatorAnalyticsRecoveryListRequest {
	r.organizationId = &organizationId
	return r
}

func (r ApiOperatorAnalyticsRecoveryListRequest) ProjectionId(projectionId string) ApiOperatorAnalyticsRecoveryListRequest {
	r.projectionId = &projectionId
	return r
}

func (r ApiOperatorAnalyticsRecoveryListRequest) Status(status string) ApiOperatorAnalyticsRecoveryListRequest {
	r.status = &status
	return r
}

func (r ApiOperatorAnalyticsRecoveryListRequest) Execute() (*http.Response, error) {
	return r.ApiService.OperatorAnalyticsRecoveryListExecute(r)
}

/*
OperatorAnalyticsRecoveryList List durable analytics recovery operations

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOperatorAnalyticsRecoveryListRequest
*/
func (a *OperatorAnalyticsRecoveryAPIService) OperatorAnalyticsRecoveryList(ctx context.Context) ApiOperatorAnalyticsRecoveryListRequest {
	return ApiOperatorAnalyticsRecoveryListRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *OperatorAnalyticsRecoveryAPIService) OperatorAnalyticsRecoveryListExecute(r ApiOperatorAnalyticsRecoveryListRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorAnalyticsRecoveryAPIService.OperatorAnalyticsRecoveryList")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/operator/saas/analytics/recovery/operations/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.organizationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId, "form", "")
	}
	if r.projectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projection_id", r.projectionId, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOperatorAnalyticsRepairActionRequest struct {
	ctx                            context.Context
	ApiService                     OperatorAnalyticsRecoveryAPI
	action                         string
	repairId                       string
	analyticsRecoveryActionRequest *AnalyticsRecoveryActionRequest
}

func (r ApiOperatorAnalyticsRepairActionRequest) AnalyticsRecoveryActionRequest(analyticsRecoveryActionRequest AnalyticsRecoveryActionRequest) ApiOperatorAnalyticsRepairActionRequest {
	r.analyticsRecoveryActionRequest = &analyticsRecoveryActionRequest
	return r
}

func (r ApiOperatorAnalyticsRepairActionRequest) Execute() (*http.Response, error) {
	return r.ApiService.OperatorAnalyticsRepairActionExecute(r)
}

/*
OperatorAnalyticsRepairAction Retry or requeue an analytics repair

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param action
	@param repairId
	@return ApiOperatorAnalyticsRepairActionRequest
*/
func (a *OperatorAnalyticsRecoveryAPIService) OperatorAnalyticsRepairAction(ctx context.Context, action string, repairId string) ApiOperatorAnalyticsRepairActionRequest {
	return ApiOperatorAnalyticsRepairActionRequest{
		ApiService: a,
		ctx:        ctx,
		action:     action,
		repairId:   repairId,
	}
}

// Execute executes the request
func (a *OperatorAnalyticsRecoveryAPIService) OperatorAnalyticsRepairActionExecute(r ApiOperatorAnalyticsRepairActionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorAnalyticsRecoveryAPIService.OperatorAnalyticsRepairAction")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/operator/saas/analytics/recovery/repairs/{repair_id}/{action}/"
	localVarPath = strings.Replace(localVarPath, "{"+"action"+"}", url.PathEscape(parameterValueToString(r.action, "action")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"repair_id"+"}", url.PathEscape(parameterValueToString(r.repairId, "repairId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.analyticsRecoveryActionRequest == nil {
		return nil, reportError("analyticsRecoveryActionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.analyticsRecoveryActionRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOperatorAnalyticsRepairDeadLettersRequest struct {
	ctx            context.Context
	ApiService     OperatorAnalyticsRecoveryAPI
	errorCode      *string
	organizationId *string
	projectionId   *string
	reason         *string
}

func (r ApiOperatorAnalyticsRepairDeadLettersRequest) ErrorCode(errorCode string) ApiOperatorAnalyticsRepairDeadLettersRequest {
	r.errorCode = &errorCode
	return r
}

func (r ApiOperatorAnalyticsRepairDeadLettersRequest) OrganizationId(organizationId string) ApiOperatorAnalyticsRepairDeadLettersRequest {
	r.organizationId = &organizationId
	return r
}

func (r ApiOperatorAnalyticsRepairDeadLettersRequest) ProjectionId(projectionId string) ApiOperatorAnalyticsRepairDeadLettersRequest {
	r.projectionId = &projectionId
	return r
}

func (r ApiOperatorAnalyticsRepairDeadLettersRequest) Reason(reason string) ApiOperatorAnalyticsRepairDeadLettersRequest {
	r.reason = &reason
	return r
}

func (r ApiOperatorAnalyticsRepairDeadLettersRequest) Execute() (*http.Response, error) {
	return r.ApiService.OperatorAnalyticsRepairDeadLettersExecute(r)
}

/*
OperatorAnalyticsRepairDeadLetters Method for OperatorAnalyticsRepairDeadLetters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOperatorAnalyticsRepairDeadLettersRequest
*/
func (a *OperatorAnalyticsRecoveryAPIService) OperatorAnalyticsRepairDeadLetters(ctx context.Context) ApiOperatorAnalyticsRepairDeadLettersRequest {
	return ApiOperatorAnalyticsRepairDeadLettersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *OperatorAnalyticsRecoveryAPIService) OperatorAnalyticsRepairDeadLettersExecute(r ApiOperatorAnalyticsRepairDeadLettersRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorAnalyticsRecoveryAPIService.OperatorAnalyticsRepairDeadLetters")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/operator/saas/analytics/recovery/dead-letters/repairs/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.errorCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error_code", r.errorCode, "form", "")
	}
	if r.organizationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId, "form", "")
	}
	if r.projectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projection_id", r.projectionId, "form", "")
	}
	if r.reason != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reason", r.reason, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
