/*
Credoxa Events API

Enterprise multi-tenant event infrastructure for Credoxa Cloud.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package credoxaevents

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type EventPublishingAPI interface {

	/*
		PublishEvent Publish an event

		Validates and durably accepts an event. The event and its outbox message are stored atomically. RabbitMQ delivery occurs asynchronously.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiPublishEventRequest
	*/
	PublishEvent(ctx context.Context) ApiPublishEventRequest

	// PublishEventExecute executes the request
	//  @return PublishEventEnvelope
	PublishEventExecute(r ApiPublishEventRequest) (*PublishEventEnvelope, *http.Response, error)
}

// EventPublishingAPIService EventPublishingAPI service
type EventPublishingAPIService service

type ApiPublishEventRequest struct {
	ctx                        context.Context
	ApiService                 EventPublishingAPI
	idempotencyKey             *string
	publishEventRequestRequest *PublishEventRequestRequest
}

// Unique publication key scoped to the tenant and event source.
func (r ApiPublishEventRequest) IdempotencyKey(idempotencyKey string) ApiPublishEventRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiPublishEventRequest) PublishEventRequestRequest(publishEventRequestRequest PublishEventRequestRequest) ApiPublishEventRequest {
	r.publishEventRequestRequest = &publishEventRequestRequest
	return r
}

func (r ApiPublishEventRequest) Execute() (*PublishEventEnvelope, *http.Response, error) {
	return r.ApiService.PublishEventExecute(r)
}

/*
PublishEvent Publish an event

Validates and durably accepts an event. The event and its outbox message are stored atomically. RabbitMQ delivery occurs asynchronously.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPublishEventRequest
*/
func (a *EventPublishingAPIService) PublishEvent(ctx context.Context) ApiPublishEventRequest {
	return ApiPublishEventRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PublishEventEnvelope
func (a *EventPublishingAPIService) PublishEventExecute(r ApiPublishEventRequest) (*PublishEventEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PublishEventEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventPublishingAPIService.PublishEvent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/events/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}
	if r.publishEventRequestRequest == nil {
		return localVarReturnValue, nil, reportError("publishEventRequestRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	// body params
	localVarPostBody = r.publishEventRequestRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
