/*
Credoxa Events API

Enterprise multi-tenant event infrastructure for Credoxa Cloud.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package credoxaevents

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type OperatorAnalyticsAPI interface {

	/*
		OperatorAnalyticsProjectionAction Refresh, rebuild, or invalidate an analytics projection

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param action
		@param projectionId
		@return ApiOperatorAnalyticsProjectionActionRequest
	*/
	OperatorAnalyticsProjectionAction(ctx context.Context, action string, projectionId string) ApiOperatorAnalyticsProjectionActionRequest

	// OperatorAnalyticsProjectionActionExecute executes the request
	OperatorAnalyticsProjectionActionExecute(r ApiOperatorAnalyticsProjectionActionRequest) (*http.Response, error)

	/*
		OperatorAnalyticsProjectionDetail Inspect an analytics projection

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param projectionId
		@return ApiOperatorAnalyticsProjectionDetailRequest
	*/
	OperatorAnalyticsProjectionDetail(ctx context.Context, projectionId string) ApiOperatorAnalyticsProjectionDetailRequest

	// OperatorAnalyticsProjectionDetailExecute executes the request
	OperatorAnalyticsProjectionDetailExecute(r ApiOperatorAnalyticsProjectionDetailRequest) (*http.Response, error)

	/*
		OperatorAnalyticsProjectionList List analytics projections for operators

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiOperatorAnalyticsProjectionListRequest
	*/
	OperatorAnalyticsProjectionList(ctx context.Context) ApiOperatorAnalyticsProjectionListRequest

	// OperatorAnalyticsProjectionListExecute executes the request
	OperatorAnalyticsProjectionListExecute(r ApiOperatorAnalyticsProjectionListRequest) (*http.Response, error)

	/*
		OperatorAnalyticsProjectionRuntime Inspect projection runtime state

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param projectionId
		@return ApiOperatorAnalyticsProjectionRuntimeRequest
	*/
	OperatorAnalyticsProjectionRuntime(ctx context.Context, projectionId string) ApiOperatorAnalyticsProjectionRuntimeRequest

	// OperatorAnalyticsProjectionRuntimeExecute executes the request
	OperatorAnalyticsProjectionRuntimeExecute(r ApiOperatorAnalyticsProjectionRuntimeRequest) (*http.Response, error)

	/*
		OperatorAnalyticsRuntimeCollection List analytics runtime records

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param kind
		@return ApiOperatorAnalyticsRuntimeCollectionRequest
	*/
	OperatorAnalyticsRuntimeCollection(ctx context.Context, kind string) ApiOperatorAnalyticsRuntimeCollectionRequest

	// OperatorAnalyticsRuntimeCollectionExecute executes the request
	OperatorAnalyticsRuntimeCollectionExecute(r ApiOperatorAnalyticsRuntimeCollectionRequest) (*http.Response, error)
}

// OperatorAnalyticsAPIService OperatorAnalyticsAPI service
type OperatorAnalyticsAPIService service

type ApiOperatorAnalyticsProjectionActionRequest struct {
	ctx                   context.Context
	ApiService            OperatorAnalyticsAPI
	action                string
	projectionId          string
	operatorActionRequest *OperatorActionRequest
}

func (r ApiOperatorAnalyticsProjectionActionRequest) OperatorActionRequest(operatorActionRequest OperatorActionRequest) ApiOperatorAnalyticsProjectionActionRequest {
	r.operatorActionRequest = &operatorActionRequest
	return r
}

func (r ApiOperatorAnalyticsProjectionActionRequest) Execute() (*http.Response, error) {
	return r.ApiService.OperatorAnalyticsProjectionActionExecute(r)
}

/*
OperatorAnalyticsProjectionAction Refresh, rebuild, or invalidate an analytics projection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param action
	@param projectionId
	@return ApiOperatorAnalyticsProjectionActionRequest
*/
func (a *OperatorAnalyticsAPIService) OperatorAnalyticsProjectionAction(ctx context.Context, action string, projectionId string) ApiOperatorAnalyticsProjectionActionRequest {
	return ApiOperatorAnalyticsProjectionActionRequest{
		ApiService:   a,
		ctx:          ctx,
		action:       action,
		projectionId: projectionId,
	}
}

// Execute executes the request
func (a *OperatorAnalyticsAPIService) OperatorAnalyticsProjectionActionExecute(r ApiOperatorAnalyticsProjectionActionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorAnalyticsAPIService.OperatorAnalyticsProjectionAction")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/operator/saas/analytics/operator/projections/{projection_id}/{action}/"
	localVarPath = strings.Replace(localVarPath, "{"+"action"+"}", url.PathEscape(parameterValueToString(r.action, "action")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projection_id"+"}", url.PathEscape(parameterValueToString(r.projectionId, "projectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.operatorActionRequest == nil {
		return nil, reportError("operatorActionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.operatorActionRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOperatorAnalyticsProjectionDetailRequest struct {
	ctx            context.Context
	ApiService     OperatorAnalyticsAPI
	projectionId   string
	organizationId *string
}

func (r ApiOperatorAnalyticsProjectionDetailRequest) OrganizationId(organizationId string) ApiOperatorAnalyticsProjectionDetailRequest {
	r.organizationId = &organizationId
	return r
}

func (r ApiOperatorAnalyticsProjectionDetailRequest) Execute() (*http.Response, error) {
	return r.ApiService.OperatorAnalyticsProjectionDetailExecute(r)
}

/*
OperatorAnalyticsProjectionDetail Inspect an analytics projection

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectionId
	@return ApiOperatorAnalyticsProjectionDetailRequest
*/
func (a *OperatorAnalyticsAPIService) OperatorAnalyticsProjectionDetail(ctx context.Context, projectionId string) ApiOperatorAnalyticsProjectionDetailRequest {
	return ApiOperatorAnalyticsProjectionDetailRequest{
		ApiService:   a,
		ctx:          ctx,
		projectionId: projectionId,
	}
}

// Execute executes the request
func (a *OperatorAnalyticsAPIService) OperatorAnalyticsProjectionDetailExecute(r ApiOperatorAnalyticsProjectionDetailRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorAnalyticsAPIService.OperatorAnalyticsProjectionDetail")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/operator/saas/analytics/operator/projections/{projection_id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"projection_id"+"}", url.PathEscape(parameterValueToString(r.projectionId, "projectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.organizationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOperatorAnalyticsProjectionListRequest struct {
	ctx            context.Context
	ApiService     OperatorAnalyticsAPI
	limit          *int32
	name           *string
	organizationId *string
	readiness      *string
	status         *string
}

func (r ApiOperatorAnalyticsProjectionListRequest) Limit(limit int32) ApiOperatorAnalyticsProjectionListRequest {
	r.limit = &limit
	return r
}

func (r ApiOperatorAnalyticsProjectionListRequest) Name(name string) ApiOperatorAnalyticsProjectionListRequest {
	r.name = &name
	return r
}

func (r ApiOperatorAnalyticsProjectionListRequest) OrganizationId(organizationId string) ApiOperatorAnalyticsProjectionListRequest {
	r.organizationId = &organizationId
	return r
}

func (r ApiOperatorAnalyticsProjectionListRequest) Readiness(readiness string) ApiOperatorAnalyticsProjectionListRequest {
	r.readiness = &readiness
	return r
}

func (r ApiOperatorAnalyticsProjectionListRequest) Status(status string) ApiOperatorAnalyticsProjectionListRequest {
	r.status = &status
	return r
}

func (r ApiOperatorAnalyticsProjectionListRequest) Execute() (*http.Response, error) {
	return r.ApiService.OperatorAnalyticsProjectionListExecute(r)
}

/*
OperatorAnalyticsProjectionList List analytics projections for operators

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOperatorAnalyticsProjectionListRequest
*/
func (a *OperatorAnalyticsAPIService) OperatorAnalyticsProjectionList(ctx context.Context) ApiOperatorAnalyticsProjectionListRequest {
	return ApiOperatorAnalyticsProjectionListRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *OperatorAnalyticsAPIService) OperatorAnalyticsProjectionListExecute(r ApiOperatorAnalyticsProjectionListRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorAnalyticsAPIService.OperatorAnalyticsProjectionList")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/operator/saas/analytics/operator/projections/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.organizationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId, "form", "")
	}
	if r.readiness != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "readiness", r.readiness, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOperatorAnalyticsProjectionRuntimeRequest struct {
	ctx            context.Context
	ApiService     OperatorAnalyticsAPI
	projectionId   string
	organizationId *string
}

func (r ApiOperatorAnalyticsProjectionRuntimeRequest) OrganizationId(organizationId string) ApiOperatorAnalyticsProjectionRuntimeRequest {
	r.organizationId = &organizationId
	return r
}

func (r ApiOperatorAnalyticsProjectionRuntimeRequest) Execute() (*http.Response, error) {
	return r.ApiService.OperatorAnalyticsProjectionRuntimeExecute(r)
}

/*
OperatorAnalyticsProjectionRuntime Inspect projection runtime state

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectionId
	@return ApiOperatorAnalyticsProjectionRuntimeRequest
*/
func (a *OperatorAnalyticsAPIService) OperatorAnalyticsProjectionRuntime(ctx context.Context, projectionId string) ApiOperatorAnalyticsProjectionRuntimeRequest {
	return ApiOperatorAnalyticsProjectionRuntimeRequest{
		ApiService:   a,
		ctx:          ctx,
		projectionId: projectionId,
	}
}

// Execute executes the request
func (a *OperatorAnalyticsAPIService) OperatorAnalyticsProjectionRuntimeExecute(r ApiOperatorAnalyticsProjectionRuntimeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorAnalyticsAPIService.OperatorAnalyticsProjectionRuntime")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/operator/saas/analytics/operator/projections/{projection_id}/runtime/"
	localVarPath = strings.Replace(localVarPath, "{"+"projection_id"+"}", url.PathEscape(parameterValueToString(r.projectionId, "projectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.organizationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOperatorAnalyticsRuntimeCollectionRequest struct {
	ctx            context.Context
	ApiService     OperatorAnalyticsAPI
	kind           string
	limit          *int32
	organizationId *string
	projectionId   *string
	status         *string
}

func (r ApiOperatorAnalyticsRuntimeCollectionRequest) Limit(limit int32) ApiOperatorAnalyticsRuntimeCollectionRequest {
	r.limit = &limit
	return r
}

func (r ApiOperatorAnalyticsRuntimeCollectionRequest) OrganizationId(organizationId string) ApiOperatorAnalyticsRuntimeCollectionRequest {
	r.organizationId = &organizationId
	return r
}

func (r ApiOperatorAnalyticsRuntimeCollectionRequest) ProjectionId(projectionId string) ApiOperatorAnalyticsRuntimeCollectionRequest {
	r.projectionId = &projectionId
	return r
}

func (r ApiOperatorAnalyticsRuntimeCollectionRequest) Status(status string) ApiOperatorAnalyticsRuntimeCollectionRequest {
	r.status = &status
	return r
}

func (r ApiOperatorAnalyticsRuntimeCollectionRequest) Execute() (*http.Response, error) {
	return r.ApiService.OperatorAnalyticsRuntimeCollectionExecute(r)
}

/*
OperatorAnalyticsRuntimeCollection List analytics runtime records

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param kind
	@return ApiOperatorAnalyticsRuntimeCollectionRequest
*/
func (a *OperatorAnalyticsAPIService) OperatorAnalyticsRuntimeCollection(ctx context.Context, kind string) ApiOperatorAnalyticsRuntimeCollectionRequest {
	return ApiOperatorAnalyticsRuntimeCollectionRequest{
		ApiService: a,
		ctx:        ctx,
		kind:       kind,
	}
}

// Execute executes the request
func (a *OperatorAnalyticsAPIService) OperatorAnalyticsRuntimeCollectionExecute(r ApiOperatorAnalyticsRuntimeCollectionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorAnalyticsAPIService.OperatorAnalyticsRuntimeCollection")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/operator/saas/analytics/operator/runtime/{kind}/"
	localVarPath = strings.Replace(localVarPath, "{"+"kind"+"}", url.PathEscape(parameterValueToString(r.kind, "kind")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.organizationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId, "form", "")
	}
	if r.projectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projection_id", r.projectionId, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
