/*
Credoxa Events API

Enterprise multi-tenant event infrastructure for Credoxa Cloud.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package credoxaevents

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type ArchivesAPI interface {

	/*
		ArchivesHealthRetrieve Get archive worker health

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiArchivesHealthRetrieveRequest
	*/
	ArchivesHealthRetrieve(ctx context.Context) ApiArchivesHealthRetrieveRequest

	// ArchivesHealthRetrieveExecute executes the request
	ArchivesHealthRetrieveExecute(r ApiArchivesHealthRetrieveRequest) (*http.Response, error)

	/*
		ArchivesJobsCancel Cancel a pending archive job

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param jobId
		@return ApiArchivesJobsCancelRequest
	*/
	ArchivesJobsCancel(ctx context.Context, jobId string) ApiArchivesJobsCancelRequest

	// ArchivesJobsCancelExecute executes the request
	ArchivesJobsCancelExecute(r ApiArchivesJobsCancelRequest) (*http.Response, error)

	/*
		ArchivesJobsCreate Create an archive job

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiArchivesJobsCreateRequest
	*/
	ArchivesJobsCreate(ctx context.Context) ApiArchivesJobsCreateRequest

	// ArchivesJobsCreateExecute executes the request
	ArchivesJobsCreateExecute(r ApiArchivesJobsCreateRequest) (*http.Response, error)

	/*
		ArchivesJobsDownload Download an archived event file

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param jobId
		@return ApiArchivesJobsDownloadRequest
	*/
	ArchivesJobsDownload(ctx context.Context, jobId string) ApiArchivesJobsDownloadRequest

	// ArchivesJobsDownloadExecute executes the request
	ArchivesJobsDownloadExecute(r ApiArchivesJobsDownloadRequest) (*http.Response, error)

	/*
		ArchivesJobsList List archive jobs

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiArchivesJobsListRequest
	*/
	ArchivesJobsList(ctx context.Context) ApiArchivesJobsListRequest

	// ArchivesJobsListExecute executes the request
	ArchivesJobsListExecute(r ApiArchivesJobsListRequest) (*http.Response, error)

	/*
		ArchivesJobsManifestRetrieve Get an archive manifest

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param jobId
		@return ApiArchivesJobsManifestRetrieveRequest
	*/
	ArchivesJobsManifestRetrieve(ctx context.Context, jobId string) ApiArchivesJobsManifestRetrieveRequest

	// ArchivesJobsManifestRetrieveExecute executes the request
	ArchivesJobsManifestRetrieveExecute(r ApiArchivesJobsManifestRetrieveRequest) (*http.Response, error)

	/*
		ArchivesJobsRetrieve Get an archive job

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param jobId
		@return ApiArchivesJobsRetrieveRequest
	*/
	ArchivesJobsRetrieve(ctx context.Context, jobId string) ApiArchivesJobsRetrieveRequest

	// ArchivesJobsRetrieveExecute executes the request
	ArchivesJobsRetrieveExecute(r ApiArchivesJobsRetrieveRequest) (*http.Response, error)

	/*
		ArchivesJobsRetry Retry a failed archive job

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param jobId
		@return ApiArchivesJobsRetryRequest
	*/
	ArchivesJobsRetry(ctx context.Context, jobId string) ApiArchivesJobsRetryRequest

	// ArchivesJobsRetryExecute executes the request
	ArchivesJobsRetryExecute(r ApiArchivesJobsRetryRequest) (*http.Response, error)
}

// ArchivesAPIService ArchivesAPI service
type ArchivesAPIService service

type ApiArchivesHealthRetrieveRequest struct {
	ctx        context.Context
	ApiService ArchivesAPI
}

func (r ApiArchivesHealthRetrieveRequest) Execute() (*http.Response, error) {
	return r.ApiService.ArchivesHealthRetrieveExecute(r)
}

/*
ArchivesHealthRetrieve Get archive worker health

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiArchivesHealthRetrieveRequest
*/
func (a *ArchivesAPIService) ArchivesHealthRetrieve(ctx context.Context) ApiArchivesHealthRetrieveRequest {
	return ApiArchivesHealthRetrieveRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ArchivesAPIService) ArchivesHealthRetrieveExecute(r ApiArchivesHealthRetrieveRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArchivesAPIService.ArchivesHealthRetrieve")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/archives/health/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiArchivesJobsCancelRequest struct {
	ctx                  context.Context
	ApiService           ArchivesAPI
	jobId                string
	archiveActionRequest *ArchiveActionRequest
}

func (r ApiArchivesJobsCancelRequest) ArchiveActionRequest(archiveActionRequest ArchiveActionRequest) ApiArchivesJobsCancelRequest {
	r.archiveActionRequest = &archiveActionRequest
	return r
}

func (r ApiArchivesJobsCancelRequest) Execute() (*http.Response, error) {
	return r.ApiService.ArchivesJobsCancelExecute(r)
}

/*
ArchivesJobsCancel Cancel a pending archive job

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param jobId
	@return ApiArchivesJobsCancelRequest
*/
func (a *ArchivesAPIService) ArchivesJobsCancel(ctx context.Context, jobId string) ApiArchivesJobsCancelRequest {
	return ApiArchivesJobsCancelRequest{
		ApiService: a,
		ctx:        ctx,
		jobId:      jobId,
	}
}

// Execute executes the request
func (a *ArchivesAPIService) ArchivesJobsCancelExecute(r ApiArchivesJobsCancelRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArchivesAPIService.ArchivesJobsCancel")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/archives/jobs/{job_id}/cancel/"
	localVarPath = strings.Replace(localVarPath, "{"+"job_id"+"}", url.PathEscape(parameterValueToString(r.jobId, "jobId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.archiveActionRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiArchivesJobsCreateRequest struct {
	ctx                     context.Context
	ApiService              ArchivesAPI
	archiveJobCreateRequest *ArchiveJobCreateRequest
}

func (r ApiArchivesJobsCreateRequest) ArchiveJobCreateRequest(archiveJobCreateRequest ArchiveJobCreateRequest) ApiArchivesJobsCreateRequest {
	r.archiveJobCreateRequest = &archiveJobCreateRequest
	return r
}

func (r ApiArchivesJobsCreateRequest) Execute() (*http.Response, error) {
	return r.ApiService.ArchivesJobsCreateExecute(r)
}

/*
ArchivesJobsCreate Create an archive job

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiArchivesJobsCreateRequest
*/
func (a *ArchivesAPIService) ArchivesJobsCreate(ctx context.Context) ApiArchivesJobsCreateRequest {
	return ApiArchivesJobsCreateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ArchivesAPIService) ArchivesJobsCreateExecute(r ApiArchivesJobsCreateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArchivesAPIService.ArchivesJobsCreate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/archives/jobs/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.archiveJobCreateRequest == nil {
		return nil, reportError("archiveJobCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.archiveJobCreateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiArchivesJobsDownloadRequest struct {
	ctx        context.Context
	ApiService ArchivesAPI
	jobId      string
}

func (r ApiArchivesJobsDownloadRequest) Execute() (*http.Response, error) {
	return r.ApiService.ArchivesJobsDownloadExecute(r)
}

/*
ArchivesJobsDownload Download an archived event file

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param jobId
	@return ApiArchivesJobsDownloadRequest
*/
func (a *ArchivesAPIService) ArchivesJobsDownload(ctx context.Context, jobId string) ApiArchivesJobsDownloadRequest {
	return ApiArchivesJobsDownloadRequest{
		ApiService: a,
		ctx:        ctx,
		jobId:      jobId,
	}
}

// Execute executes the request
func (a *ArchivesAPIService) ArchivesJobsDownloadExecute(r ApiArchivesJobsDownloadRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArchivesAPIService.ArchivesJobsDownload")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/archives/jobs/{job_id}/download/"
	localVarPath = strings.Replace(localVarPath, "{"+"job_id"+"}", url.PathEscape(parameterValueToString(r.jobId, "jobId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiArchivesJobsListRequest struct {
	ctx           context.Context
	ApiService    ArchivesAPI
	createdAfter  *string
	createdBefore *string
	ordering      *string
	page          *int32
	pageSize      *int32
	source        *string
	status        *string
}

func (r ApiArchivesJobsListRequest) CreatedAfter(createdAfter string) ApiArchivesJobsListRequest {
	r.createdAfter = &createdAfter
	return r
}

func (r ApiArchivesJobsListRequest) CreatedBefore(createdBefore string) ApiArchivesJobsListRequest {
	r.createdBefore = &createdBefore
	return r
}

func (r ApiArchivesJobsListRequest) Ordering(ordering string) ApiArchivesJobsListRequest {
	r.ordering = &ordering
	return r
}

func (r ApiArchivesJobsListRequest) Page(page int32) ApiArchivesJobsListRequest {
	r.page = &page
	return r
}

func (r ApiArchivesJobsListRequest) PageSize(pageSize int32) ApiArchivesJobsListRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiArchivesJobsListRequest) Source(source string) ApiArchivesJobsListRequest {
	r.source = &source
	return r
}

func (r ApiArchivesJobsListRequest) Status(status string) ApiArchivesJobsListRequest {
	r.status = &status
	return r
}

func (r ApiArchivesJobsListRequest) Execute() (*http.Response, error) {
	return r.ApiService.ArchivesJobsListExecute(r)
}

/*
ArchivesJobsList List archive jobs

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiArchivesJobsListRequest
*/
func (a *ArchivesAPIService) ArchivesJobsList(ctx context.Context) ApiArchivesJobsListRequest {
	return ApiArchivesJobsListRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ArchivesAPIService) ArchivesJobsListExecute(r ApiArchivesJobsListRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArchivesAPIService.ArchivesJobsList")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/archives/jobs/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.createdAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_after", r.createdAfter, "form", "")
	}
	if r.createdBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_before", r.createdBefore, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiArchivesJobsManifestRetrieveRequest struct {
	ctx        context.Context
	ApiService ArchivesAPI
	jobId      string
}

func (r ApiArchivesJobsManifestRetrieveRequest) Execute() (*http.Response, error) {
	return r.ApiService.ArchivesJobsManifestRetrieveExecute(r)
}

/*
ArchivesJobsManifestRetrieve Get an archive manifest

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param jobId
	@return ApiArchivesJobsManifestRetrieveRequest
*/
func (a *ArchivesAPIService) ArchivesJobsManifestRetrieve(ctx context.Context, jobId string) ApiArchivesJobsManifestRetrieveRequest {
	return ApiArchivesJobsManifestRetrieveRequest{
		ApiService: a,
		ctx:        ctx,
		jobId:      jobId,
	}
}

// Execute executes the request
func (a *ArchivesAPIService) ArchivesJobsManifestRetrieveExecute(r ApiArchivesJobsManifestRetrieveRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArchivesAPIService.ArchivesJobsManifestRetrieve")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/archives/jobs/{job_id}/manifest/"
	localVarPath = strings.Replace(localVarPath, "{"+"job_id"+"}", url.PathEscape(parameterValueToString(r.jobId, "jobId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiArchivesJobsRetrieveRequest struct {
	ctx        context.Context
	ApiService ArchivesAPI
	jobId      string
}

func (r ApiArchivesJobsRetrieveRequest) Execute() (*http.Response, error) {
	return r.ApiService.ArchivesJobsRetrieveExecute(r)
}

/*
ArchivesJobsRetrieve Get an archive job

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param jobId
	@return ApiArchivesJobsRetrieveRequest
*/
func (a *ArchivesAPIService) ArchivesJobsRetrieve(ctx context.Context, jobId string) ApiArchivesJobsRetrieveRequest {
	return ApiArchivesJobsRetrieveRequest{
		ApiService: a,
		ctx:        ctx,
		jobId:      jobId,
	}
}

// Execute executes the request
func (a *ArchivesAPIService) ArchivesJobsRetrieveExecute(r ApiArchivesJobsRetrieveRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArchivesAPIService.ArchivesJobsRetrieve")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/archives/jobs/{job_id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"job_id"+"}", url.PathEscape(parameterValueToString(r.jobId, "jobId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiArchivesJobsRetryRequest struct {
	ctx                  context.Context
	ApiService           ArchivesAPI
	jobId                string
	archiveActionRequest *ArchiveActionRequest
}

func (r ApiArchivesJobsRetryRequest) ArchiveActionRequest(archiveActionRequest ArchiveActionRequest) ApiArchivesJobsRetryRequest {
	r.archiveActionRequest = &archiveActionRequest
	return r
}

func (r ApiArchivesJobsRetryRequest) Execute() (*http.Response, error) {
	return r.ApiService.ArchivesJobsRetryExecute(r)
}

/*
ArchivesJobsRetry Retry a failed archive job

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param jobId
	@return ApiArchivesJobsRetryRequest
*/
func (a *ArchivesAPIService) ArchivesJobsRetry(ctx context.Context, jobId string) ApiArchivesJobsRetryRequest {
	return ApiArchivesJobsRetryRequest{
		ApiService: a,
		ctx:        ctx,
		jobId:      jobId,
	}
}

// Execute executes the request
func (a *ArchivesAPIService) ArchivesJobsRetryExecute(r ApiArchivesJobsRetryRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArchivesAPIService.ArchivesJobsRetry")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/archives/jobs/{job_id}/retry/"
	localVarPath = strings.Replace(localVarPath, "{"+"job_id"+"}", url.PathEscape(parameterValueToString(r.jobId, "jobId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.archiveActionRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
