/*
Credoxa Events API

Enterprise multi-tenant event infrastructure for Credoxa Cloud.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package credoxaevents

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type SaaSAnalyticsOperatorAPI interface {

	/*
		SaasAnalyticsRuntimeControl Get analytics runtime control snapshot

		Returns a bounded, read-only operator view of queue health, backpressure, capacity, admission, and retry-budget state for the resolved tenant. Runtime mutation is not performed by this endpoint.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiSaasAnalyticsRuntimeControlRequest
	*/
	SaasAnalyticsRuntimeControl(ctx context.Context) ApiSaasAnalyticsRuntimeControlRequest

	// SaasAnalyticsRuntimeControlExecute executes the request
	SaasAnalyticsRuntimeControlExecute(r ApiSaasAnalyticsRuntimeControlRequest) (*http.Response, error)
}

// SaaSAnalyticsOperatorAPIService SaaSAnalyticsOperatorAPI service
type SaaSAnalyticsOperatorAPIService service

type ApiSaasAnalyticsRuntimeControlRequest struct {
	ctx        context.Context
	ApiService SaaSAnalyticsOperatorAPI
}

func (r ApiSaasAnalyticsRuntimeControlRequest) Execute() (*http.Response, error) {
	return r.ApiService.SaasAnalyticsRuntimeControlExecute(r)
}

/*
SaasAnalyticsRuntimeControl Get analytics runtime control snapshot

Returns a bounded, read-only operator view of queue health, backpressure, capacity, admission, and retry-budget state for the resolved tenant. Runtime mutation is not performed by this endpoint.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSaasAnalyticsRuntimeControlRequest
*/
func (a *SaaSAnalyticsOperatorAPIService) SaasAnalyticsRuntimeControl(ctx context.Context) ApiSaasAnalyticsRuntimeControlRequest {
	return ApiSaasAnalyticsRuntimeControlRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *SaaSAnalyticsOperatorAPIService) SaasAnalyticsRuntimeControlExecute(r ApiSaasAnalyticsRuntimeControlRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SaaSAnalyticsOperatorAPIService.SaasAnalyticsRuntimeControl")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/operator/saas/analytics/runtime-control/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
