/*
Credoxa Events API

Enterprise multi-tenant event infrastructure for Credoxa Cloud.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package credoxaevents

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type OperatorAnalyticsDashboardAPI interface {

	/*
		OperatorAnalyticsDashboardSummary Retrieve the complete analytics operator dashboard

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiOperatorAnalyticsDashboardSummaryRequest
	*/
	OperatorAnalyticsDashboardSummary(ctx context.Context) ApiOperatorAnalyticsDashboardSummaryRequest

	// OperatorAnalyticsDashboardSummaryExecute executes the request
	OperatorAnalyticsDashboardSummaryExecute(r ApiOperatorAnalyticsDashboardSummaryRequest) (*http.Response, error)
}

// OperatorAnalyticsDashboardAPIService OperatorAnalyticsDashboardAPI service
type OperatorAnalyticsDashboardAPIService service

type ApiOperatorAnalyticsDashboardSummaryRequest struct {
	ctx            context.Context
	ApiService     OperatorAnalyticsDashboardAPI
	organizationId *string
}

func (r ApiOperatorAnalyticsDashboardSummaryRequest) OrganizationId(organizationId string) ApiOperatorAnalyticsDashboardSummaryRequest {
	r.organizationId = &organizationId
	return r
}

func (r ApiOperatorAnalyticsDashboardSummaryRequest) Execute() (*http.Response, error) {
	return r.ApiService.OperatorAnalyticsDashboardSummaryExecute(r)
}

/*
OperatorAnalyticsDashboardSummary Retrieve the complete analytics operator dashboard

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOperatorAnalyticsDashboardSummaryRequest
*/
func (a *OperatorAnalyticsDashboardAPIService) OperatorAnalyticsDashboardSummary(ctx context.Context) ApiOperatorAnalyticsDashboardSummaryRequest {
	return ApiOperatorAnalyticsDashboardSummaryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *OperatorAnalyticsDashboardAPIService) OperatorAnalyticsDashboardSummaryExecute(r ApiOperatorAnalyticsDashboardSummaryRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorAnalyticsDashboardAPIService.OperatorAnalyticsDashboardSummary")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/operator/saas/analytics/dashboard/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.organizationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["cookieAuth"]; ok {
				localVarHeaderParams["Cookie"] = "sessionid=" + apiKey.Key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
